*.lo
*.o
*~
.deps
.libs/
package.xml
Makefile
Makefile.*
acinclude.m4
aclocal.m4
autom4te.cache
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
couchbase.la
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
modules/
include/
docs/
/Debug/
